/* styles.css */
nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    list-style: none;
    background: #dd8533;
    border-radius: 10px;
    margin: 20px 0;
  }

  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
    position: relative;
  }

  nav ul li a:hover {
    background-color: #ffcd83;
    transform: translateY(-3px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;
    }
  
  h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  
  h2 {
    color: #d1633c;
    font-size: 1em;
  }
  